.container img{
margin-left: -50px;
}
.container a{
   /* // margin-left: 10px; */
   /* // border: 1px solid black; */
    margin-top: 15px;
    height: 40px;
    width:20px;

}
.container input{
    margin-left: 120px;
    height: 40px;
}

#carouselExampleInterval{
    margin-top: -35px;
    background-color: rgb(58, 57, 57);
    height: 80px;
    color: white;
    display: flex;
    
}
.cont1{
    text-align: center;
}
.cont1 h6{
    margin-top: -10px;
}
.cont1 a{
    margin-top: -30px;
}
.cont{
    margin-top: -30px;
    height: 100px;
}
#ban{
   margin-left: 30px;
   margin-top: 15px;
   
}
#carouselExample img{
    height: 700px;
    margin-top: 20px;
}
.cont2{
    display: flex;
    justify-content: center;
}
.scont2{
   margin-left: 40px;
  text-align: center;
  justify-content: center;
 text-align: center;
 height: 50px;;
}
.scont2 a{
   font-size: 15px;
}

.cont3{
    width:95%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    gap: 30px;
   margin-left: 40px;
   margin-bottom: 40px;
}
.cont3 a{
 font-size: 14px;
   
}
#shop{
    text-align: center;
    font-size: 17px;
}
#shop1{
    text-align: center;
    font-size: 13px;
    margin-top: 50px;
}
.coont4{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 10px;
    margin-top: 50px;
    width: 97%;
   margin-left: 16px;
}
.coont4 img{
    width: 100%;
}
.cont5{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
   margin-left: 50px;
   text-align: center;
   margin-top: 30px;
   
}
.cont5 div{
    width:100%;
    
    /* margin-left:10px */
}
.cont5 img{
width: 100%;
}
.cont5 div:hover{
    box-shadow:  2px 2px 2px 5px gray;
}
.cont6{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align:start;
    gap: 10px;
    font-size: 15px;
    margin-left: 25px;
    margin-top: 50px;
    
}
.smcont{
    width: 95%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cont7{
    display: flex;
    width: 90%;
    margin-left: 20px;
}
.mcont7{
    margin-right: 100px;
    width: 4000px;;
}
.mmcont7{
    margin-right: 60px;
}
.mmmcont7{
    margin-right: 90px;
}
/* body{
    width: 95%;
    align-items: center;
} */
.cont a{
    /* display: flex; */
    padding:20px;
    text-decoration: none;
    color: black;
    }
    .cont a:hover{
        color: blue;
    }