.container img{
    margin-left: -50px;
    }
    .container p{
       /* // margin-left: 10px; */
       /* // border: 1px solid black; */
        margin-top: 15px;
        height: 40px;
        width:20px;
    
    }
    .container input{
        margin-left: 120px;
        height: 40px;
    }
    .cont a{
        /* display: flex; */
        padding:20px;
        text-decoration: none;
        color: black;
        }
        .cont a:hover{
            color: blue;
        }
    #carouselExampleInterval{
        margin-top: -35px;
        background-color: rgb(58, 57, 57);
        height: 80px;
        color: white;
        display: flex;
        
    }
    .cont1{
        text-align: center;
    }
    .cont1 h6{
        margin-top: -10px;
    }
    .cont1 a{
        margin-top: -30px;
    }
    .cont{
        margin-top: -30px;
        height: 100px;
    }
    .cont2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .cont3{
        width: 95%;
        text-align: center;

    }
    .cont3 img{
        width: 100%;
        height: 600px;
    }
    .cont3 p:hover{
        color: blue;
    }
    .cont5{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .scont2{
       margin-left: 40px;
      text-align: center;
      justify-content: center;
     text-align: center;
     height: 50px;;
    }
    .scont2 a{
       font-size: 15px;
    }
    #pp:hover{
     color: blue;

    }
    .con8{
        display: flex;
        
    }
    .cont9{
        display: flex;
    }
    .cont6{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 40px;
       margin-left: 50px;
       text-align: center;
       margin-top: 30px;
       
    }
    .cont6 div{
        width:100%;
        
        /* margin-left:10px */
    }
    .cont6 img{
    width: 100%;
    }
    .cont6 div:hover{
        box-shadow:  2px 2px 2px 5px gray;
    }
    .tr{
        display: flex;
    }